.AgentsContainer {
  display: flex;
  flex-direction: row;
}


.contactCard {
  visibility: hidden;
  display: none;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: -50%;
}

.picture:hover .contactCard img {
  visibility: visible;
}

.picture:hover .contactCard {
  visibility: visible;
}


.filledStar {
  color: #f2c430;
}

.unfilledStar {
  color: #cdd1d4;
}

.picture {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 50px;
  overflow: hidden;
}

.photo {
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.thumbnail {
  width: 35px;
  height: 35px;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  background: white;
  padding: 5px;
}

.caption {
  display: block;
  font-size: 12px;
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.photo img {
  transition: transform .5s ease;
}

.photo:hover img {
  transform: scale(1.2);
}