.main {
  display: flex;
  flex-direction: row;
  padding: 1em 0.25em 1em 0.25em;
  border: 20px;
  position: relative;
}


.carousel__item {
  display: inline-flex;
  vertical-align: top;
  white-space: normal;
  flex-direction: row;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  width: 100%;
}

.buttonDetails {
  flex: 1 1;
  padding: 0.2em;
}

.dateSpecific {
  font-weight: bolder;
}


.dateButton {
  display: flex;
  flex-direction: column;
  font-size : 14px;
  margin-right: 0.25em;
  margin-left: 0.25em;
  padding: 0.5em;
  border-radius: 9px;
  outline: 0;
  border-style: solid;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.dateButtonUnselected{
  border-color: lightgray;
}

.dateButtonSelected {
  border-color: #007882;
}

.carousel_activator {
  display: none;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.carousel__controls {
  text-align: center;
  justify-content: center;
  top: 0;
  right: 16px;
  left: 16px;
  bottom: 0;
}

.carousel__control--backward {
  display: none;
  top: 45%;
  position: absolute;
  margin: -0.5em;
}

.carousel__control--forward {
  display: none;
  position: absolute;
  top: 40%;
  left: 90%;
}

.carousel__control {
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  color: #3d414a;
  border-radius: 100%;
  font-size: 20px;
  height: 25px;
  justify-content: center;
  transition: 0.3s all;
  width: 25px;
  z-index: 1;
}

.carousel__control:hover {
  box-shadow: 0 2px 10px 0 rgba(33, 34, 36, 0.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.carousel__screen {
  /* overflow: hidden; */
  width: 100%;
}

.carousel__control__selected {
  display: inline;
  background-color:green;
}

.carousel__control__selected {
  display: inline;
  background-color:green;
}



.carousel__track {
  font-size: 0;
  transition: all 0.5s ease 0s;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
